<header class="header">
    <h1 class="header-heading">
      <a href="{% url 'Dashboard:index' %}" class="header-link">C-Trends BPO</a>
    </h1>
    <nav class="menu">
      <ul class="menu-list">
        {% if not mostrar_campo_pesquisa and user.is_authenticated%}
          <li class="menu-item">
            <a href="{% url 'Dashboard:index' %}" class="menu-link">Home</a>
          </li>
        {% endif %}
        {% if not tela_login %}
        {% if user.is_authenticated %}
          {% if usuario_adm %}
            <li class="menu-item">
              <a href="{% url 'Dashboard:create' %}" class="menu-link">Adicionar Relatório</a>
            </li>
            {% if usuario_bko %}
              <li class="menu-item">
                <a href="{% url 'Dashboard:register' %}" class="menu-link">Criar usuário</a>
              </li>
            {% endif %}
          {% endif %}
          <li class="menu-item">
            <a href="{% url 'Dashboard:login' %}" class="menu-link">Logout</a>
          </li>
        {% endif %}
        {% endif %}
        
      </ul>
    </nav>
    {% if mostrar_campo_pesquisa %}
    <div class="search">
      <form action="{% url 'Dashboard:search' %}" method="GET">
        <input 
          type="search" 
          class="search-input" 
          placeholder="Pesquisar",
          id="search"
          name="q">
      </form>
    </div>
    {% endif %}
  </header>