
body {

	background-image: url('../image/Back.PNG');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


.container1 {


	justify-content: center;
	width: 100%;
	margin-top: 200px;
	display: flex;

}


.card1 {
	background-color: #cccccc80;
	padding: 30px;
	border-radius: 4%;
	box-shadow: 3px 3px 1px 0px #00000060;
	width: 400px;
}


.icone{
	height: auto;
	display: flex;
	position: center;
	width: 105px;
	padding-left: 150px;
}

.titulo{
	text-align: center;
	margin-bottom: 20px;
	color: #272262;
}

.label-float input {
	width: 100%;
	padding: 5px 5px;
	display: inline-block;
	border: 0;
	border-bottom: 1px solid #272262;
	background-color: transparent;
	outline: none;
	min-width: 180px;
	font-size: 16px;
	transition: all .3s ease-out;
	border-radius: 0;

}

.label-float {
	position: relative;
	padding-top: 13px;
	margin-top: 5%;
	margin-bottom: 5%;
}

.label-float input:focus{
	border-bottom: 2px solid;
}

.label-float label{
	color: #272262;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 13px;
	transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label
{
	font-size: 13px;
	margin-top: 0;
	color: #4038a0;
}

button {
	background-color: transparent;
	border-color: #272262;
	color: #272262;
	padding: 7px;
	font-weight: bold;
	font-size: 12pt;
	margin-top: 20px;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	transition: all .3s ease-out;
}

button:hover{
	border-color: #272262;
	color: darkgrey;
}

.Justify-Center {
	display: flex;
	justify-content: center;
}

hr{
	margin-top: 10%;
	margin-bottom: 10%;
	width: 60%;
}

p{
	color: #272262;
	font-size: 14pt;
	text-align: center;
}

a{
	color: darkblue;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	color: darkmagenta;
	transition: all .3s ease-out;
}

.fa-eye {
	position: absolute;
	top: 14px;
	right: 10px;
	cursor: pointer;
	color: #272262;
}