{% extends 'global/base.html' %}
{% block content %}

<main class="content">
    <dic class= "single-contact">
        <h1 class= "single-contact-name">{{ link.group }}</h1>
        {% if usuario_adm %}
        <p><b>Ativo:</b> {{ link.ativo }}</p>
        {% endif %}
        <p><b>Tipo relatório:</b> {{ link.nome_relatorio }}</p>
        <p><b>Descrição:</b> {{ link.description }}</p>
        
        <div class="contact-links">
            {% if usuario_adm and editar %}
            <a class="btn btn-link" href="{% url 'Dashboard:update' link.id %}">Atualizar</a>
            <form action="{% url 'Dashboard:delete' link.id %}" method="POST">
                {% csrf_token %}
                {% if confirmation == 'no' %}
                <input type="hidden" name="confirmation" value="yes">
                <button class="btn btn-link btn-delete" type="submit">Confirmar e deletar</button>
                {% else %}
                    <button class="btn btn-link btn-delete" type="submit">Deletar</button>
                {% endif %}
            </form>
            {% endif %}
            <a class="btn btn-link" href="{% url 'Dashboard:export' link.id %}">Exportar</a>
        </div>
    </div>
</main>
<div class="content-frame iframe-container">
    <iframe class="frame" title="Report Section" width="100%" height="100%"
            src="{{ link.link_dashboard }}"
            frameborder="0" allowFullScreen="true">
    </iframe>
</div>
    
{% endblock content %}