{% extends 'global/base.html' %}

{% block content %}
<main class="content">
  <div class="form-wrapper">      
      {% if user.is_authenticated %}
        <p>
          Você está logado como <b>{{ user.first_name }}</b>.<br> 
          {% comment "" %}Clique <a href="{% url 'Dashboard:logout' %}">aqui</a> para sair.<br> <br> {% endcomment %}
          {% comment "" %}Ou clique <a href="{% url 'Dashboard:update_usuario' %}">aqui</a> para alterar o seu usuário.{% endcomment %}
        </p>
        <div class="contact-links">
          <a class="btn btn-link btn-delete" href="{% url 'Dashboard:logout' %}">Deslogar</a>
          <a class="btn btn-link" href="{% url 'Dashboard:update_usuario' %}">Alterar senha</a>
      </div>
      {% else %}
      <h2>Login</h2>
        {% include 'Dashboard/partials/_user-form.html' %}
      {% endif %}
      
    </div>
  </main>
{% endblock content %}